@databridge:registry=https://pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/registry/ 
                        
always-auth=true
                        

; begin auth token
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/registry/:username=databridge-devops
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/registry/:_password=cnpwbWppMngydGtwM3N5d3NpZTJwZnlycXllZnd5cnA2cHRoNjZrNXI0YmM2ZnFpdzZtcQ==
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/registry/:email=YOUR_EMAIL_ADDRESS
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/:username=databridge-devops
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/:_password=cnpwbWppMngydGtwM3N5d3NpZTJwZnlycXllZnd5cnA2cHRoNjZrNXI0YmM2ZnFpdzZtcQ==
//pkgs.dev.azure.com/databridge-devops/957c83ae-2c25-4f23-9d82-c4004ddd2c90/_packaging/qplus/npm/:email=YOUR_EMAIL_ADDRESS
; end auth token