/* You can add global styles to this file, and also import other style files */
@keyframes fillBar {
    0% {
        width: 0;
    }

    30% {
        width: 80px;
    }

    70% {
        width: 120px;
    }
}

.draftJsMentionPlugin__mention__29BEd,
.draftJsMentionPlugin__mention__29BEd:visited {
    display: inline-block;
    text-decoration: none;
    color: white !important;
    cursor: text !important;
    background: #009999 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px !important;
    font-family: Siemens Sans, sans-serif !important;
}

div.DraftEditor-root,
div.DraftEditor-editorContainer {
    cursor: text;
    overflow-y: scroll;
    flex-grow: 1;
    scrollbar-width: none;
    font-family: Siemens Sans, sans-serif !important;
}

div.DraftEditor-root::-webkit-scrollbar {
    display: none;
}

div.draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
    transform: translateX(-85%);
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol,
.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
    height: auto;
    width: auto;
    border: none;
    background: none;
}

.draftJsMentionPlugin__mentionSuggestionsEntryText__3Jobq {
    display: inline-block;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 368px;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    font-family: Siemens Sans, sans-serif !important;
}

.e13wqaj6,
.e8k2yoa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.public-DraftEditorPlaceholder-inner {
    position: absolute;
    z-index: -1;
    color: #A9A9AC;

}

div.DraftEditor-root,
div.DraftEditor-editorContainer {
    cursor: text;
    overflow-y: scroll;
    flex-grow: 1;
    scrollbar-width: none;
    font-family: Siemens Sans, sans-serif !important;
    position: relative !important;

}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}

.react-grid-item.cssTransforms {
    transition-property: transform;
}

.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.dropping {
    visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item>.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-grid-item>.react-resizable-handle::after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-grid-item>.react-resizable-hide>.react-resizable-handle {
    display: none;
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
    background-position: bottom right;
    padding: 0 3px 3px 0;
    z-index: 9999999;
}

.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}

.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
}

.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
}

.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}

.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
}

.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}

.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}

.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}

.grid-cell {
    display: flex;
    background-color: #eeeeed;
}